<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css"/>
</head>
<body>
    <h1>update the task</h1>
        
    <div class="container">
        <form  class="todo-form" action="/update/<%=result._id%>" method="post">
            <input  value="<%=result.title%>" class="input" type="text" placeholder="enter the task title" name="title"/>
            <br><br>
            <textarea class="input" name="description" id="description">
<%=result.description%>
            </textarea>
            <br><br>
            <button class="btn">update the task</button>

        </form>
    </div>
</body>
</html>